.swiperSlide{
    display:flex;
    justify-content: center;
}

.homeCarousel{
    padding-top: 30px;
    .carouselRegion{
        margin-top: 70px;
    }

    .beforeWrapper + div + div {
        justify-content:space-between;
        align-items: flex-start;
    }
    .swiperContainer{
        min-height: 400px;
    }
}