$primary-color: #3DC8B8;
$primary-text-color: #011311;
$secondary-color: #1a0a05;
//COLORS
$red:#da0a0a;
$green: #33d5ba;
$light-green:#f2fffd;
$lighter-green:#d3efea;
$black:#303030;
$grey:#7a869a;
$form-bg:#f6f6f6;
$overlay:rgba(0, 0, 0, 0.16);
$white-bg-banner:#E5E5E5;
$lightgreen : #EBFFFB;
$purewhite:#FFFFFF;
$breakpoints: (
  "phone-small": 320px,
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "fluid-out": 960px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-med": 1350px,
  "desktop-wide": 1440px,
  "excess": 2000px,
);

//MIXINS
@mixin flex-center($direction: row) {
  display: flex;
  flex-flow: $direction;
  justify-content: center;
  align-items: center;
}
@mixin flex-btw($direction: row, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction;
  justify-content: space-between;
  align-items: center;
  flex-wrap: $wrap;
}
@mixin flex-even($direction: row, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction;
  justify-content: space-around;
  align-items: center;
  flex-wrap: $wrap;
}

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin passwordStrength{
    @include flex-btw;
    margin-bottom: 15px;
    progress{
      width: 233px;
      height: 5px;
      -webkit-appearance: none;
      appearance: none;
      @include mq("phone-wide"){
        margin-right: 10px;
      }
      &::-webkit-progress-bar {
        background-color: $lighter-green;
        border-radius: 7px;
      }
      &::-webkit-progress-value {
        border-radius: 7px;
        // background-size: 35px 20px, 100% 100%, 100% 100%;
      }
      &.weak::-webkit-progress-value{
        background: red;
      }
      &.fair::-webkit-progress-value{
        background: yellow;
      }
      &.good::-webkit-progress-value{
        background: orange;
      }
      &.strong::-webkit-progress-value{
        background: $green;
      }
    }
}
